/* normalize */
/** {
	padding: 0;
	margin: 0;
}*/

h2 {
	color: green;
}


#banner_text {
	background-color: #26c691;
	color: black;
	padding: 80px 80px;
	text-align: center;
	margin: 0;
/*	margin: 0px 400px 20px 400px;*/
}

nav {
	background-color: black;
/*	padding: 14px 20px;*/
	overflow: hidden;
}

nav a {
	padding: 14px 20px;
	text-decoration: none;
	color: white;
	display: block;
/*	float: left;*/
}

/*nav a.menu_left {*/
.menu_left {
	float: left;
}
}

/*nav a.menu_right {*/
.menu_right {
	float: right;
}

nav a:hover {
	background-color: white;
	color: black;
}

#body_container {
	display: flex;
	flex-wrap: nowrap;
}

#left_side {
	background-color: #dfebe7;
	flex: 30%;
	padding: 10px 20px;
}

#right_side {
	background-color: #d7e29b;
	flex: 70%;
	padding: 10px 20px;
}

footer {
	background-color: black;
	color: white;
	padding: 10px 20px;
	margin: 20px 0px;
}

footer > a {
	color: limegreen;
}

#div_example {
	padding: 10px 20px;
/*	background-color: #cfcfcf;*/
}

/* Table format copied from Internet */
#table1 {
	border-style: solid;
	border-collapse: collapse;
	width: 75%;
	text-align: center;
	vertical-align: middle;
}

#table1 td, #table1 th {
	border: 1px solid black;
	padding: 8px;
}


#table2 {
/*	font-family: Arial, Helvetica, sans-serif;*/
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#table2 td, #table2 th {
	border: 1px solid #ddd;
	padding: 8px;
/*	text-align: center;*/
/*	vertical-align: middle;*/
}

#table2 tr:nth-child(even){background-color: #f2f2f2;}

#table2 tr:hover {background-color: #deb572;}

#table2 th {
	padding-top: 12px;
	padding-bottom: 12px;
/*	text-align: left;*/
	background-color: #04AA6D;
/*	background-color: #e6c4d4;*/
	color: black;
}


#course_container {
	display: flex;
/*	display: flow;*/
/*	flex-wrap: wrap;*/
	flex-wrap: wrap;
}

.course_item {
/*	background-color: black;*/
/*	width: 50%;*/
	flex: 33%;
	text-align: center;
}

.course_img {
	width: 90%;
}


/* For table responsive */
@media(max-width: 800px) {
	#left_side {
		flex: 100%;
	}

	#right_side {
		flex: 100%;
	}

	#body_container {
		flex-wrap: wrap;
	}

	.course_item {
		flex: 50%;
	}
}

/* For mobile responsive */
@media(max-width: 400px) {
	#left_side {
		flex: 100%;
	}

	#right_side {
		flex: 100%;
	}

	#body_container {
		flex-wrap: wrap;
	}
}






